.App {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Card {
  width: fit-content;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.281);
}
